# required packages
numpy<2.0
scipy
pandas
scikit-learn
scikit-learn-extra
matplotlib
pyomo

# solver packages - choose at least one or add your own
#highspy  # for HiGHS
#xpress   # for FICO Xpress
